[submodule "third_party/Vulkan-Loader"]
	path = third_party/Vulkan-Loader
	url = git@github.com:KhronosGroup/Vulkan-Loader.git
[submodule "third_party/Vulkan-Headers"]
	path = third_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = git@github.com:icaven/glm.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = git@github.com:nothings/stb.git
